.about {
  padding-top: 11rem;
}
.about__icon i {
  color: var(--primary);
}
.about__skills {
  padding: 5rem 2rem 0 2rem;
}
.about__img__gallery {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .about {
    padding-top: 4rem;
  }
  .about__skills {
    padding: 2rem 2rem 0 2rem;
  }
  .about__img__gallery {
    justify-content: center !important;
  }
  .about__content h3 {
    font-size: 1.3rem !important;
  }
}
@media screen and (max-width: 768px) {
  .about__img__box {
    width: 150px !important  ;
  }
}
