.from__group input,
.from__group textarea {
  width: 100%;
  border: none;
  outline: none;
  background: var(--bg-secondary);
  color: var(--secondary);
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.from__group input::placeholder,
.from__group textarea::placeholder {
  font-size: 0.8rem;
  color: var(--third);
}
.form button {
  color: var(--primary);
}
