.hero {
  padding-top: 60px;
}
.hero__content {
  margin-top: 40px;
}

.hero__content h5 {
  color: var(--third);
  font-weight: 400;
}

.hero__img img {
  border-radius: 50px 5px 5px 5px;
  width: 400px;
}
@media screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 1.5rem !important;
  }
  .hero__content h5 {
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 768px) {
  .hero__img {
    text-align: center !important;
  }
}
