.tab__btn__active {
  color: var(--primary) !important;
}
.tab__btn__passive {
  color: var(--secondary) !important;
}
.tab__btns {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 992px) {
  .tab__btns {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .tab__btns {
    justify-content: center;
    font-size: 0.8rem;
  }
}
